body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #003965;
    height: 100px;
    position: sticky;
     z-index: 3;
}

2
img {
    height: 80px;
    width: 80px;
    margin-top: 10px;
}

form{
    height: 100vh;
    width: 100vw;
}

#log-center{
    margin-right: 20vw;
    margin-left: 10vw;
    margin-top: 25vh;
    margin-bottom: 25vh;
    font-family: 'Mont', sans-serif;
    z-index: -1;
    width: 70vw;
    padding: 5px;
}

.input{
   border: solid 2px lightgray;
   border-radius: 10px;
   margin-bottom:15px;
   display: flex;
   padding: 5px;
   width: 100%;
   margin-right: 10vw;
}

#title{
    font-size: larger;
    font-weight: lighter;
    font-family: sans-serif;
}

#outros{
    height: 25px;
}

#outros p{
    font-size: smaller;
    margin-left: 25%;
}

#7

:-moz-any
, h5{
    margin-left: 12.5%;
}

.input i{
    margin: 5px;
}

#button-login{
    background: none;
}

.input input{
border: none;
width: 100%;
height: 100%;
font-size: medium;
padding: 5px;
 }

 textarea:focus, input:focus{
    outline: none;
}

.email{
    height: 100%;
    width: 100%;
}

#title{
    margin-left: 25%;
    margin-right: 25%;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

