body{
    min-height: 100vh;
    max-width: auto;
    margin: 0 auto;
    background-image: url(../Style/Imagens/Ondas.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: right;
    background-position-y: bottom;
    justify-content: space-around;
} 

header{
    background-color: #003965;
    height: 100px;
    width: 100%;
    position: sticky;
    z-index: 3;
}

img{
    height: 80px;
    width: 80px;
    margin-top: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.bemVindo {
    margin: 5vw;
}

.bemVindo p {
    font-size: 20px;
}

.video {
    background-color: rgb(197, 197, 197);
    height: 200px;
    margin: 5vw;
    margin-top: 0;
    margin-bottom: 0;
    width: 90vw;
    border-radius: 15px;
}

.video p {
    padding-top: 10px;
    padding-left: 10px;
}

.ranking {
    background-color: rgb(197, 197, 197);
    height: 150px;
    margin: 5vw;
    margin-top: 0;
    width: 90vw;
    border-radius: 15px;
}

.ranking p {
    padding-top: 10px;
    padding-left: 10px;
}

.ativ{
    height: 40vw;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
    width: 40vw;
    border-radius: 15px;
}

#atividades {
    display: grid;
    grid-template-columns: auto auto;
  }