body{
    min-height: 100vh;
    max-width: auto;
    margin: 0 auto;
    background-image: url(../Style/Imagens/Ondas.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: right;
    background-position-y: bottom;
    justify-content: space-around;
} 

header{
    background-color: #003965;
    height: 100px;
    width: 100%;
    position: sticky;
    z-index: 3;
}

img{
    height: 80px;
    width: 80px;
    margin-top: 10px;
}

.cinza {
    background-color: rgb(163, 163, 163);
    height: 200px;
    margin: 5vw;
    width: 90vw;
    border-radius: 15px;
}