/* ---------------------- TelaDeCarregamento1 ---------------------- */

.TelaUm {
    background-color: #000000;
    text-align: center;
}

.LogoPrefeitura{
    height: 300px;
    margin-top: 250px;
}

/* ---------------------- TelaDeCarregamento2 ---------------------- */

.TelaDois {
    background-color: #003965;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.logoEPTRAN{
    height: 350px;
    margin-bottom: 0px;
}

#carregador {
    margin-left: 40%;
    margin-right: 40%;
    border: 6px solid #174f7a;
    border-top-color: #cecece;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    animation: is-rotating 1s infinite;
    display: none;
}

@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
}

/* --------------------------- Transição --------------------------- */



/* ----------------------------------------------------------------- */