body {
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
}

header {
    background-color: #003965;
    height: 100px;
    position: sticky;
     z-index: 3;
}
img {
    height: 80px;
    width: 80px;
    margin-top: 10px;
}
#log-center{
    margin-left: 25vw;
    margin-top: 25vh;
    margin-bottom: 25vh;
    font-family: 'Mont', sans-serif;
    z-index: -1;
    width: 50vw;
    padding: 5px;
}

.input{
   border: solid 2px lightgray;
   border-radius: 10px;
   margin-bottom:15px;
   display: flex;
   padding: 5px;
   width: 250px;
}

.input textarea{
    width: 250px;
}

#title{
    font-size: larger;
    font-weight: lighter;
    font-family: sans-serif;
    margin-left: 25%;
}

#outros{
    height: 25px;
}

#outros p{
    font-size: smaller;
    margin-left: 25%;
}


:-moz-any
, h5{
    margin-left: 12.5%;
}

.input i{
    margin: 5px;
}

#button-login{
    background: none;
}

.input input{
border: none;
width: 100%;
height: 100%;
font-size: medium;
padding: 5px;
 }

 textarea:focus, input:focus{
    outline: none;
}


#title{
    margin-left: 25%;
    margin-right: 25%;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

