body{
    min-height: 100vh;
    max-width: auto;
    margin: 0 auto;
    background-image: url(../Style/Imagens/Ondas.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: right;
    background-position-y: bottom;
    justify-content: space-around;
    font-family: sans-serif;
    /* overflow: hidden; */
} 

header{
    background-color: #003965;
    height: 100px;
    width: 100%;
    position: sticky;
    z-index: 3;
}

img{
    height: 80px;
    width: 80px;
    margin-top: 10px;
}

.bemVindo {
    margin: 5vw;
}

.bemVindo p {
    font-size: 20px;
}

.video {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 0;
    margin-bottom: 5vh;
    width: 90vw;
    border-radius: 15px;
}

.video p {
    padding-top: 10px;
    padding-left: 10px;
}

.ranking {
    background-color: rgb(197, 197, 197);
    height: 150px;
    margin: 5vw;
    margin-top: 0;
    width: 90vw;
    border-radius: 15px;
}

.ranking p {
    padding-top: 10px;
    padding-left: 10px;
}

.ativ{
    height: 40vw;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
    width: 40vw;
    border-radius: 15px;
    position: relative;
}

#atividades {
    display: grid;
    grid-template-columns: auto auto;
  }
.blur{
    filter: blur(5px);
}
  .ativ-block{
    height: 40vw;
    width: 40vw;
    border-radius: 15px;
    z-index: 2;
    padding: 5vw;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-weight: 500;
    filter: none;
}

.lock{
    margin-left: 8vw;
} 

.ativ-block p{
    margin-top: 1vh;
    position: relative;
    text-align: center;
}
.ativ-content{
    height: 40vw;
    width: 40vw;
    border-radius: 15px;
    padding: 5vw;
    box-sizing: border-box;
    position: absolute;
}

@media screen and (min-width: 700px) {
body{
    font-size: large;
}
 }

 @media screen and (min-width: 1000px) {
    body{
        font-size: x-large;
    }
     }

.ativ-content button{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1vh;
    border: 0;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}