* {
  margin: 0;
  padding: 0;
  background-color: #003965;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------- Logo EPTRAN ---------- */

#logoEPTRAN {
  height: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 15vh;
  animation: go-back 1s;
}

/* ---------- Vamos começar ---------- */

button {
  width: 60vw;
  height: 6vh;
  margin-left: 20vw;
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: #004c86;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  border-radius: 15px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #004275;
  animation: go-back 1.25s;
}

a {
  text-decoration: none;
}
  
button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #004275;
  animation: go-back 2s;
}
  
/* ---------- Animação ---------- */

@keyframes go-back {
  from {
    transform: translateX(350px);
  }
  to {
    transform: translateX(0);
  }
}

/* ------------------------------ */