/* ------ Body e Footer ------ */

body {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #003965;
}

footer {
    background-color: #003965;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
}

#footerIMG {
    height: 14vw;
} 

/* ------ Circulos ------ */

#circulos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

#branco {
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.azul {
  height: 15px;
  width: 15px;
  background-color: #003965;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}


/* ------ Escrita ------ */

.escrita {
    text-align: center;
    color: #ffffff;
    animation: go-back 1s;
}

.escrita1 {
  margin-top: 10vh;
  font-size: 20px;
}

.escrita2 {
  font-size: 22.5px;
}

.escrita3 {
  font-size: 22.5px;
  margin-top: 6vh;
}

/* ------ Data de Nascimento ------ */

#data {
  margin-top: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: go-back 1s;
}

#dma {
  background-color: #003965;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: sans-serif;
}

/* ------ Selecionar Série ------ */

#classInput {
  margin-top: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: go-back 1s;
}

#serie {
  background-color: #003965;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: sans-serif;
}  

/* ------ Botão ------ */

#botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

button {
    width: 230px;
    height: 55px;
    border: none;
    outline: none;
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    color: #003965;
    border-radius: 15px;
    animation: go-back 1s;
  }
  
  a {
    text-decoration: none;
  }
    

/* ------ Animação ------ */
  
  @keyframes go-back {
    from {
      transform: translateX(350px);
    }
    to {
      transform: translateX(0);
    }
  }

/* ------------- */