body{
    min-height: 100vh;
    max-width: auto;
    margin: 0 auto;
    background-image: url(../Style/Imagens/Ondas.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: right;
    background-position-y: bottom;
    justify-content: space-around;
    font-family: sans-serif;
    /* overflow: hidden; */
} 


header{
    background-color: #003965;
    height: 100px;
    width: 100%;
    position: sticky;
    z-index: 3;
}

img{
    height: 80px;
    width: 80px;
    margin-top: 10px;
}

.bemVindo {
    margin: 5vw;
}

.bemVindo p {
    font-size: 20px;
}

.video {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 0;
    margin-bottom: 5vh;
    width: 90vw;
    border-radius: 15px;
}

.video p {
    padding-top: 10px;
    padding-left: 10px;
}

.ranking {
    background-color: rgb(197, 197, 197);
    height: 150px;
    margin: 5vw;
    margin-top: 0;
    width: 90vw;
    border-radius: 15px;
}

.ranking p {
    padding-top: 10px;
    padding-left: 10px;
}

.ativ{
    height: 40vw;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
    width: 40vw;
    border-radius: 15px;
    position: relative;
}

#atividades {
    display: grid;
    grid-template-columns: auto auto;
  }
.blur{
    filter: blur(5px);
}
  .ativ-block{
    height: 40vw;
    width: 40vw;
    border-radius: 15px;
    z-index: 2;
    padding: 5vw;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-weight: 500;
    filter: none;
}

.lock{
    margin-left: 8vw;
} 

.ativ-block p{
    margin-top: 1vh;
    position: relative;
    text-align: center;
}
.ativ-content{
    height: 40vw;
    width: 40vw;
    border-radius: 15px;
    padding-top: 5vw;
    box-sizing: border-box;
    position: absolute;
    color: white;
    justify-content: space-around;
    text-align: center;
}

.ativ-title{
    top: 0;
    position: static;
}

@media screen and (min-width: 700px) {
body{
    font-size: large;
}
 }

 @media screen and (min-width: 1000px) {
    body{
        font-size: x-large;
    }
     }

/* .ativ-content button{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1.2vh;
    border: 0;
    border-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    color: white;
    font-weight:700;
} */

.play{
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: fit-content;
    top: 45%;
    font-size: small;
    padding: 2vw;
    border-radius: 13px;
    /* margin-right: 25%; */
    /* margin-left: 25%; */
    font-weight: 600;
    text-align: center;
    border: 0;
    color: white;
    right: 25%;
    left: 25%;
}


.button{
    font-size: small;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1.2vh;
    border: 0;
    border-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    color: white;
    font-weight:00;
}











#title-modal {
    color: white;
    font-weight: 600;

}

.modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 99999999999999999999999; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: hidden; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #003965;
      margin: 15vh auto; /* 15% from the top and centered */
      padding: 20px;
      border-radius: 15px;
      border: 1px solid #003965;
      width: 80%; /* Could be more or less, depending on screen size */
      overflow: hidden;
    }

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }


    .button-modal{
        background-color: white;
        width: 100%;
        border: 0 ;
        color: #003965;
        margin-bottom: 10px;
        height: 8vh;
        border-radius: 25px;
        font-weight: 600;
    }